a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.container {
    background: linear-gradient(135deg, #f06, #f79);
    border-radius: 20px;
    border: 2px solid;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 10%;
    margin-left: 5%;
    padding-top: 5%;
    padding-bottom: 20%;
}

.content {
    color: white;
    font-family: 'Arial', sans-serif;
}

h1 {
    font-size: 120px;
    font-weight: bold;
}

.message {
    margin: 20px 0;
    font-size: 18px;
}