body {
    background-color: #e8dfff;
}

.container {
    background-color: #fff;
    margin-left: 120px;
    margin-right: 120px;
    text-align: center;
    box-shadow: 0 0 1rem grey;
}

.content{
    display: inline-block;
    text-align: left;
}

.title{
    display: inline-block;
    background-color: #E0E0E0;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.square{
    width: 50px;
    height: 50px;
    background-color: rgb(220 84 54);
}

.circle{
    width: 50px;
    height: 50px;
    background-color: rgb(71 37 171);
    border-radius: 50%;
}

.bt{
    padding: 12px;
    text-align: center;
    color: white;
    width: 180px;
    height: 30px;
    /* background-color: rgb(71 37 171); */
}

#bt1{
    background-color: rgb(70, 37, 171);
}

#bt2{
    background-color: rgba(70, 37, 171, 0.7);
}

#bt3{
    background-color: rgba(70, 37, 171, 0.3);
    color: black;
}